ul{
  list-style: none;
}
.google_imagen{
  width: 100%;
}
.header_listado{
  display: flex;
  justify-content: flex-end;
}
.header_ul_listado{
  display: flex;
 
  
}
.header_ul_listado li{
  padding-left: 15px;
 
}

.google_titulo{
  display: flex;
  justify-content: center;
}

.google_div_buscador{
  display:flex;
  justify-content: center;
  padding-bottom:30px;
  

}
.google_parrafo{
text-align: center;
}
.google_botones{
  display:flex;
  justify-content: center;

}
.google_buscador{
  padding: 10px 130px 10px 130px;
}
.google_botones button{
  padding: 5px 10px 5px 10px;
  margin-left: 16px;
}


