a{
  text-decoration:none;
  
}
a:hover{
  text-decoration:underLine;
  cursor:pointer;
}
ul{
  list-style: none;
}
body{
  margin:0;
}
.google_imagen{
  width: 100%;
}
.header_listado{
  display: flex;
  justify-content: flex-end;
}
.header_ul_listado{
  display: flex;
  margin-right: 24px;
 
  
}
.header_ul_listado li{
  padding-left: 15px;
  display:flex;
  justify-content:center;
  align-items:center;
 
}

.google_titulo{
  display: flex;
  justify-content: center;
}

.google_div_buscador{
  display:flex;
  justify-content: center;
  padding-bottom:30px;
  width: 450px;
  margin: auto;
  position:relative;
}


.google_parrafo{
text-align: center;
font-size: 13px;
padding-top:10px;
color: #222
}
.google_botones{
  display:flex;
  justify-content: center;
  
}


.google_buscador{
  
  border-style: solid;
  border-color:#e4e4e4;
  border-radius: 20px;
  border-width: 1px;
  width: 100%;
  height: 42px;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}
.google_botones button{
  padding: 5px 10px 5px 10px;
  margin-left: 16px;
  color:rgba(0,0,0,.54);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;

}
.footer_contenido{
  background-color: #f2f2f2;
  position: fixed;
  bottom:0;
  width: 100%;
  border-top:1px solid #e4e4e4;
  font-size: 13px;

 
}

.footer_listado{
  display: flex;
  justify-content: space-between;
  border-top:1px solid #e4e4e4;
  
  
}

.footer_ul{
  display: flex;
  color: rgba(0,0,0,.54);
  padding: 0px 20px 0px 0px;
  
}
.footer_ul li{
  padding-left: 15px;
}

.footer_parrafo{
  padding-left:16px;
  color: rgba(0,0,0,.54);
}
.header_iniciar-seccion{
 
margin-left: 10px;
padding-right: 15px;
padding-top: 6px;
padding-bottom: 6px;
border-radius: 4px;
  
  background-color: #4387fd;
  

}
.header_iniciar-seccion a{
  text-decoration: none;
  color:white;
}
.google_imagen-microfono{

width: 30px;
padding-top:7px;
position:absolute;
right:0;
cursor:pointer;
}
.contenido{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;

}


@media (max-width: 768px){

  .google_div_buscador{
   
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  width: auto;
  margin: auto;
  position: relative;
}