doctype html
head
  title titulo
  meta(name='viewport' content='')
  link(rel="stylesheet", href="estilo.css")
body
header
  div.header_listado
    ul.header_ul_listado
      li: a gmail
      li: a imagenes
      li: a iniciar seccion

div
    h1: img.google_titulo(src="./imagenes/IMG_4444.JPG", alt="")


div.contenido
    
    form 
    div
      input(type="text").gogle_buscador
    div 
      button Buscar con Google
      button Me siento con suerte
    p Ofrecido por Google en:  Quechua

footer
  ul
    li: a Publicidad
    li: a Negocios
    li: a Sobre Google
    li: a Como funciona la busqueda

  ul
    li: a Privacidad
    li: a Condiciones
    li: a Preferencias
 
